/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  background: linear-gradient(to right, #1a3642, #2e525f, #396a7f);
  min-height: 100vh;
}

.navbarWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbarContainer {
  width: 100%;
  /* max-width: 1600px;         */
  padding: 2rem 3rem;        
  margin: 0 auto;           
  background: rgba(0, 30, 60, 0.6);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 16px rgba(0, 0, 50, 0.3);
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  box-sizing: border-box;
}

.top-row {
  max-width: 1660px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  position: relative;
  margin-bottom: 1rem;
   max-width: 1660px;
  padding: 0 3rem;
  margin: 0 auto;
}


.logo {
  width: auto;
  max-width: 150px;
}

.logo img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.headingTitle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.6rem;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
  white-space: normal;
  padding: 0 1rem; 
  max-width: 80%;
  z-index: 1;
}



.navLinks {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 0.5rem;
}

.navLinks a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.1rem;
  position: relative;
  padding-bottom: 5px;
  transition: color 0.3s ease;
}

.navLinks a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #00c6ff;
  transition: width 0.3s;
}

.navLinks a:hover {
  color: #00c6ff;
}

.navLinks a:hover::after {
  width: 100%;
}

.navLinks .active {
  color: #00c6ff;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 198, 255, 0.7);
}

@media (max-width: 768px) {
  .top-row {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: static; 
  }

  .logo {
    max-width: 100px;
  }

  .headingTitle {
    position: static;      
    transform: none;        
    max-width: 100%;
    font-size: 1.3rem;
    padding: 0 1rem;
    text-align: center;
  }
}


